.landing-page {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow-x: hidden;
    overflow-y: hidden;
}

.stars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

// Body & Head
.renpl {
    position: absolute;
    width: 395px;
    height: 700px;
    margin: -90px;
}

// Third-Eye
.third-eye-anchor {
    position: absolute;
    z-index: 3;
}

.third-eye {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -556px;
    margin-left: -29px;
    transition: all 0.1s ease-in-out;
    &:hover + .third-eye-glow,
    &:active + .third-eye-glow,
    &:focus + .third-eye-glow,
    &:active,
    &:hover,
    &:focus {
        transform: scale(1.5);
        visibility: visible;
    }
    
    
}

.third-eye-glow {
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: 4;
    margin-bottom: -506px;
    pointer-events: none;
    visibility: hidden;
    margin-left: -245px;
    margin-top: -591px;
}

// Headphones
.headphone-anchor {
    position: absolute;
    z-index: 2;
}

.headphones {
    position: absolute;
    width: 186px;
    height: 189px;
    margin-top: -579px;
    margin-left: -93px;
    transition: all 0.1s ease-in-out;
    z-index: 2;
    &:hover + .headphone-glow,
    &:active + .headphone-glow,
    &:focus + .headphone-glow,
    &:active,
    &:hover,
    &:focus {
        transform: scale(1.1);
        visibility: visible;
    }
}

.headphone-glow {
    position: absolute;
    width: 588px;
    height: 554px;
    z-index: 1;
    pointer-events: none;
    visibility: hidden;
    margin-left: -275px;
    margin-top: -746px;
}

// Beef With God
.beef-anchor {
    position: absolute;
    z-index: 2;
}

.beef {
    position: absolute;
    width: 93px;
    height: 121px;
    margin-top: -339px;
    margin-left: 35px;
    transition: all 0.1s ease-in-out;
    z-index: 2;
    &:hover + .beef-glow,
    &:active + .beef-glow,
    &:focus + .beef-glow,
    &:active,
    &:hover,
    &:focus {
        transform: scale(1.1);
        visibility: visible;
    }
}

.beef-glow {
    position: absolute;
    width: 600px;
    height: 561px;
    z-index: 1;
    pointer-events: none;
    margin-left: -198px;
    margin-top: -552px;
    visibility: hidden;
}

// Leotard
.leotard-anchor {
    position: absolute;
    z-index: 2;
}

.leotard-s {
    position: absolute;
    width: 67px;
    height: 51px;
    margin-top: -209px;
    margin-left: -39px;
    transition: all 0.1s ease-in-out;
    z-index: 3;
    &:hover + .leotard-glow,
    &:active + .leotard-glow,
    &:focus + .leotard-glow,
    &:active,
    &:hover,
    &:focus {
        transform: scale(1.2);
        visibility: visible;
    }
}

.leotard-glow {
    position: absolute;
    width: 700px;
    height: 700px;
    z-index: 1;
    pointer-events: none;
    margin-left: -343px;
    margin-top: -663px;
    visibility: hidden;
}

// Media Queries

@media (max-width: 480px) {

    // Body & Head
    .renpl {
        width: 345px;
        height: 635px;
    }

    // Headphones
    .headphones {
        width: 164px;
        height: 160px;
        margin-top: -513px;
        margin-left: -82px;
    }
    
    .headphone-glow {
        width: 510px;
        height: 472px;
        margin-left: -241px;
        margin-top: -656px;
    }

    // Third-Eye
    .third-eye {
        width: 60px;
        height: 60px;
        margin-top: -498px;
        margin-left: -29px;
    }

    .third-eye-glow {
        width: 450px;
        height: 450px;
        margin-left: -220px;
        margin-top: -523px;
    }

    // Beef
    .beef {
        width: 76px;
        height: 105px;
        margin-top: -292px;
        margin-left: 33px;
    }

    .beef-glow {
        width: 600px;
        height: 561px;
        margin-left: -207px;
        margin-top: -516px;
    }

    // Leotard
    .leotard-s {
        width: 58px;
        height: 46px;
        margin-top: -181px;
        margin-left: -34px;
    }

    .leotard-glow {
        width: 700px;
        height: 700px;
        margin-left: -343px;
        margin-top: -642px;
    }
}